.form 
  display: flex
  flex-direction: row
  justify-content: space-between
  width: 100%
  padding: 10px

  label 
    // display: flex
    // justify-content: space-between
    // align-items: baseline
    // padding: 10px
    // margin-bottom: 30px
    position: relative
  
button
  width: 14%
  font-size: 16px
  padding: 10px

.error 
  position: absolute
  top: 100%
  right: 0
  color: red

.input 
  width: 600px
  font-size: 16px
  padding: 10px
  border: 2px solid black
  border-radius: 4px

.valid 
  border: 2px solid green

.invalid 
  border: 2px solid red